.before-after {
  padding-top: 30px;
  min-height: 705px;
  @include mobile-padding;

  background-color: #f2f2f2;
}

.before-after__header {
  margin: 0;
  margin-bottom: 40px;

  @include font ($font-primary, 36px, 36px);
}

.before-after__description {
  margin: 0;
  margin-bottom: 15px;

  @include font ($font-secondary);
  color: $text-color-light;
}

.before-after__result {
  display: flex;
  margin: 0;
  padding: 0;
}

.before-after__parametr {
  @include font($font-primary, 12px, 12px);
  color: $text-color-light;
}

.before-after__value {
  @include font ($font-primary, 24px, 24px);
}

.before-after__price {
  margin: 0;

  @include font($font-primary, 14px, 14px);
}

@media (min-width: $tablet-width) {
  .before-after {
    padding-top: 50px;
    @include tablet-padding;
    min-height: 1080px;

    background-color: white;
  }

  .before-after__header {
    margin-bottom: 70px;

    @include font ($font-primary, 60px, 60px);
  }
}

@media (min-width: $desktop-width) {
  .before-after {
    padding-top: 0;
    @include desktop-padding;
    min-height: 590px;

    background-color: white;
  }
}
