.before-after {
  padding-top: 30px;
  min-height: 705px;
  @include mobile-padding;

  background-color: $background-color-secondary;
}

.before-after__header {
  margin: 0;
  margin-bottom: 40px;

  @include font($font-primary, 36px, 36px);
}

.before-after__description {
  margin: 0;
  margin-bottom: 15px;

  @include font ($font-secondary);
}

.before-after__result {
  display: flex;
  margin: 0;
  padding: 0;
}

.before-after__parametr {
  @include font($font-primary, 12px, 12px);
}

.before-after__value {
  @include font($font-primary, 24px, 24px);
}

.before-after__price {
  margin: 0;

  @include font($font-primary, 14px, 14px);
}
