.catalog {
  padding-top: 30px;
}

.catalog__header {
  margin: 0 0 40px;
  @include mobile-padding;
  @include font($font-primary, 36px, 36px);
}

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet-padding;
    padding-top: 60px;
  }

  .catalog__header {
    padding: 0;
    margin-bottom: 160px;
    @include font($font-primary, 60px, 60px);
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include desktop-padding;
    padding-top: 75px;
  }

  .catalog__header {
    margin-bottom: 165px;
  }
}
