.categories {
  @include mobile-padding;
}

.categories__block {
  padding: 35px 20px 25px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__header {
  margin: 0 0 30px;
  @include font($font-primary, 24px, 24px);
  text-transform: uppercase;
  position: relative;
  padding-left: 70px;
  min-width: 240px;

  &::before {
    content: "";
    border-radius: 50%;
    background-color: #68b738;
    position: absolute;
    left: 0;
    top: -12px;
    width: 50px;
    height: 50px;
    z-index: 0;
  }
}

.categories__header--fit::after {
  content: "";
  position: absolute;
  left: 8px;
  top: -12px;
  @include size(35px, 49px);
  background: url("../img/icon-cat-slim.svg") no-repeat;
}

.categories__header--weight::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  @include size(67px, 28px);
  background: url("../img/icon-cat-pro.svg") no-repeat;
}

.categories__description {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d9d9d9;
  @include font($font-secondary);
  color: $text-color-light;
}

.categories__link {
  @include font($font-primary, 16px, 16px);
  text-transform: uppercase;
  align-self: flex-start;
  position: relative;

  &::before {
    content: "";
    @include size(24px, 11px);
    position: absolute;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    right: -36px;
    top: 2px;
  }
}
@media (min-width: $tablet-width) {
  .categories {
    @include tablet-padding;
  }

  .categories__block {
    min-height: 372px;
    margin-bottom: 30px;
    width: 570px;
  }
}
@media (min-width: $desktop-width) {
  .categories {
    @include desktop-padding;
    display: flex;
    justify-content: space-between;
  }
}
