.categories {
  @include mobile-padding;
}

.categories__block {
  min-height: 266px;
  padding: 35px 20px 20px 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;
}

.categories__header {
  margin: 0;
  margin-bottom: 30px;

  @include font ($font-primary, 24px, 24px);
  text-transform: uppercase;
  text-align: center;
}

.categories__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @include font ($font-secondary);
  color: $text-color-light;
}

.categories__link {
  @include font ($font-primary, 16px, 16px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .categories {
    @include tablet-padding;
  }

  .categories__block {
    min-height: 372px;
    margin-bottom: 30px;
    width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    @include desktop-padding;
    display: flex;
    justify-content: space-between;
  }
}
