.contacts__wrapper {
  display: flex;
  margin-bottom: 25px;
  @include mobile-padding;
}

.contacts__header {
  width: 50%;

  @include font($font-secondary, 16px, 20px);
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  width: 50%;

  @include font($font-primary, 14px, 20px);
}

.contacts__map {
  height: 362px;
}
