.contacts__wrapper {
  padding-top: 30px;
  display: flex;
  margin-bottom: 25px;
  @include mobile-padding;
}

.contacts__header {
  width: 50%;

  @include font($font-primary, 16px, 20px);
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  width: 50%;

  @include font($font-secondary, 14px, 20px);
}

.contacts__map {
  height: 362px;
}

.contacts--darker {
  background-color: $background-color-secondary;
}
