.copyright {
  width: 100%;
  min-height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include font ($font-secondary, 16px, 16px);
  color: $text-color-light;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 200px;
  }
}
