.extra-list {
  border-top: 1px solid #cdcdcd;
}

.extra__wrapper {
  @include mobile-padding;
}

.extra-list__name {
  @include font($font-primary, 16px, 16px);
  color: $text-color-medium;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.extra-list__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra-list__description {
  @include font($font-secondary);
  color: $text-color-light;
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}

.extra-list__value {
  text-align: right;
}

.extra-list__buy-button {
  @include mobile-button;
  width: 100%;
  @include font($font-primary, 16px, 16px);
}

@media (min-width: $tablet-width) {
  .extra-list__item {
    min-height: 138px;
  }
}

@media (min-width: $desktop-width) {
  .extra-list {
    min-width: 895px;
  }

  .extra-list__item {
    min-height: 71px;
  }
}
