.extra {
  padding-top: 30px;
  padding-bottom: 35px;
}

.extra__wrapper {
  @include mobile-padding;
}

.extra__header {
  margin: 0;
  @include font($font-primary, 24px, 24px);
  margin-right: 7.5%;
  flex-shrink: 0;
  padding-left: 6.25%;
}

.extra__header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  white-space: nowrap;
}

.extra__header-line {
  width: 100%;
  height: 3px;
  background-color: #68b738;
  position: relative;
  top: 4px;
}

.extra__list {
  @include reset-list;
  margin-bottom: 40px;
}

.extra__gift {
  height: 289px;
  padding: 190px 55px 40px 55px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center, green;
  background-size: cover;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    width: 55px;
    height: 60px;
    position: absolute;
    background: url("../img/icon-gift.svg") no-repeat center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.extra__gift-text {
  margin: 0;
  color: white;
  @include font($font-secondary, 16px, 20px);
}

@media (min-width: $tablet-width) {
  .extra {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .extra__wrapper {
    @include tablet-padding;
  }

  .extra__header {
    @include font($font-primary, 36px, 36px);
    padding: 0 40px;
    margin: 0;
    margin-left: 3.65%;
    background-color: white;
    min-width: 413px;
  }

  .extra__header-line {
    width: 100%;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    top: 22px;
    z-index: -1;
  }

  .extra__header-wrapper {
    margin-bottom: 80px;
    position: relative;
  }

  .extra__list {
    margin-bottom: 70px;
  }

  .extra__gift {
    width: 100%;
    height: 200px;
    padding: 0 125px 0 55.21%;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat center, green;
    text-align: left;
    display: flex;
    align-items: center;

    &::before {
      background: url("../img/icon-gift.svg") no-repeat center;
      top: 65px;
      left: 15.75%;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  .extra__gift {
    width: 245px;
    height: 289px;
    margin-top: 0;
    padding: 185px 40px 40px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat center, green;

    &::before {
      left: 96px;
      transform: none;
    }
  }

  .extra__wrapper {
    @include desktop-padding;
    display: flex;
    justify-content: space-between;
  }

  .extra__header {
    margin-left: 70px;
  }

  .extra__list {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .extra__gift-text {
    text-align: center;
  }
}
