.extra {
  @include mobile-padding;
  padding-top: 30px;
  padding-bottom: 35px;
}

.extra__header {
  margin: 0 0 30px;
  @include font ($font-primary, 24px, 24px);
}

.extra__list {
  margin-bottom: 40px;
}

.extra__gift {
  @include size (280px, 289px);
  background-color: green;
}

.extra__gift-text {
  margin: 0;
  color: white;
}
@media (min-width: $tablet-width) {
  .extra {
    @include tablet-padding;
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .extra__header {
    margin-bottom: 75px;
    @include font ($font-primary, 36px, 36px);
  }

  .extra__gift {
    @include size (100%, 200px);
    margin-top: 70px;
  }
}
@media (min-width: $desktop-width) {
  .extra {
    @include desktop-padding;
    padding-top: 80px;
    padding-bottom: 85px;
  }

  .extra__gift {
    @include size (245px, 289px);
    margin-top: 0;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
  }
}