.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  padding: 0;
}

.form__label {
  margin-bottom: 15px;
  @include font ($font-primary, 16px, 18px);
  color: $text-color-medium;
  text-transform: uppercase;
}

.form__name-input::placeholder {
  color: $text-color-light;
}

.form__header {
  @include font ($font-primary, 24px, 24px);
  margin-bottom: 30px;
}

.form__textarea {
  margin: 0;
  padding: 15px;
}

.form__fieldset--comment {
  margin-bottom: 30px;
}

.form__fieldset--extra {
  margin-bottom: 20px;
}

.form__submit {
  @include mobile-button;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
@media (min-width: $tablet-width) {
  .form {
    padding: 0 40px;
  }

  .form__label {
    margin-bottom: 20px;
    @include font ($font-primary, 20px, 20px);
  }

  .form__fieldset {
    margin-bottom: 50px;
  }

  .form__fieldset--radio {
    margin-bottom: 80px;
  }

  .form__header {
    @include font ($font-primary, 36px, 36px);
    margin-bottom: 80px;
  }

  .form__header--extra {
    margin-bottom: 60px;
  }

  .form__fieldset--extra {
    margin-bottom: 35px;
  }
}
@media (min-width: $desktop-width) {
  .form {
    padding: 0;
    position: relative;
  }

  .form__fieldset--name,
  .form__fieldset--radio {
    display: flex;
    width: 50%;
  }

  .form__fieldset--radio {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 60px;
  }

  .form__fieldset--extra {
    margin-bottom: 40px;
  }
}