body {
  min-width: 320px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  box-sizing: border-box;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}
