@mixin font ($font-family: $font-primary, $font-size: 14px, $line-height: 18px, $font-weight: normal) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
}
