.page-header {
  display: block;
}

.page-header__block-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
  min-height: 65px;
  @include mobile-padding;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 82px;
    display: flex;
    @include tablet-padding;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-header__block-wrapper {
    min-height: 0;
    border-bottom: none;
    padding: 0;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 113px;
    @include desktop-padding;
  }
}
