.page-footer {
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  @include mobile-padding;

  background-color: #f2f2f2;
}

.page-footer__logo-header {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    min-height: 150px;
    padding-top: 0;
    @include tablet-padding;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f2f2f2;
  }

  .page-footer__logo-header {
    width: 33.3%;
    margin: 0;
  }

  .logo-header__image {
    width: 132px;
  }
}
