.site-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  @include size(100%, 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($font-primary, 20px, 20px, 500);
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  @include size(100%, 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  .site-list__item {
    width: auto;
    display: flex;
    align-items: flex-start;
    height: 35px;
    border-bottom: none;
    @include font($font-primary, 18px, 25px);
  }

  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }

  .site-list__link {
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    @include font($font-primary, 20px, 25px);
  }

  .site-list__item--active {
    border-bottom: 2px solid white;
  }

  .site-list--index {
    color: white;
  }

  .site-list {
    position: relative;
    z-index: 1;
  }
}
