.site-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  @include size (100%, 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  @include font ($font-primary, 20px, 20px, 500);
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  @include size (100%, 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .site-list__item {
    @include size (auto, auto);
    border-bottom: none;
    @include font ($font-primary, 18px, 25px);
  }

  .site-list__link {
    @include size (100%, auto);
  }
}
@media (min-width: $desktop-width) {
  .site-list__item {
    @include font ($font-primary, 20px, 25px);
  }

  .site-list--index {
    color: white;
  }

  .site-list {
    position: relative;
    z-index: 1;
  }
}