.social-links {
  @include reset-list;
  width: 100%;
  min-height: 64px;
  padding: 0 26.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social-links__item--vk {
  width: 22px;
  height: 12px;
  font-size: 0;
  background: url("../img/icon-vk.svg") no-repeat center;
}

.social-links__item--instagram {
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url("../img/icon-insta.svg") no-repeat center;
}

.social-links__item--facebook {
  width: 10px;
  height: 19px;
  font-size: 0;
  background: url("../img/icon-fb.svg") no-repeat center;
}

@media (min-width: $tablet-width) {
  .social-links {
    width: 17.5%;
    min-height: 64px;
    padding: 0;
    border: none;
  }

  .social-links__item {
    margin-right: 8.5%;
  }

  .social-links__item--vk {
    width: 30px;
    height: 16px;
  }

  .social-links__item--instagram {
    width: 23px;
    height: 23px;
  }

  .social-links__item--facebook {
    width: 14px;
    height: 28px;
  }
}
