.copyright {
  width: 100%;
  min-height: 78px;
  display: flex;
  align-items: center;

  @include font($font-secondary, 14px, 16px);
  color: $text-color-light;
}

.copyright__creator {
  margin-left: auto;
  text-align: right;
  width: 40%;
}

.copyright__creator a,
.copyright__designer a {
  text-decoration: underline;
  white-space: nowrap;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  transform: scale(0.75);
  fill: #666666;
}

.copyright__designer {
  width: 40%;
  padding-left: 4px;
}

@media (min-width: 440px) {
  .copyright__mobile-only {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  .copyright__creator {
    width: 100%;
  }

  .copyright__designer {
    width: auto;
    margin-left: auto;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 27px;
  }

  .copyright__icon {
    position: absolute;
    right: -3px;
    top: 10px;
  }
}
