// colors
$background-color-primary: #ffffff;
$background-color-secondary: rgb(242,242,242);
$text-color-dark: #111;
$text-color-medium: #222;
$text-color-light: #444;


//font-family
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;


//viewport width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-only: 767px;
$tablet-only: 1299px;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
