body {
  min-width: 320px;
  box-sizing: border-box;

  @include font;
  background-color: white;
  color: $text-color-main;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
